@charset "utf-8";
/* CSS Document */
/**font-family: 'Righteous', cursive;**/

	.Name {
		font-size: 125px;
		text-align: center;
		color: olive;
		text-decoration: underline;
	}

	.undertitel {
		font-size: 25px;
		text-align: center;
		color: white;		
	}

	.page_title {
		font-size: 75px;
		text-align: center;
	}

	.body {
		background-color: oldlace;
		font-family: Righteous;
	}

	.contact {
		font-size: 45px;
		text-align: center;
		text-decoration: underline;
		color: olive;
	}

	.menu {
		font-size: 45px;
		text-align: center;
		text-decoration: underline;
		color: olive;
	}

	.food {
		font-size: 30px;
		text-align: center;
	}

	.description {
		font-size: 20px;
		text-align: center;
	}

	.col {
		text-align:center;
	}

	.footer {
		text-align: center;
		color: black;
		background-color: olive;
		}

	.header {
		background-image: url(../Images/background.jpg);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.nav-tabs {
		font-size: 50px;
		background-color: olive;
	}

	.text {
		font-size: 20px;
		text-align: center;
	}

	.days {
		font-size: 20px;
		text-align: center;
	}

	.info {
		font-size: 20px;
		text-align: center;
	}

	.pic {
   		border: 3px solid olive;
   	}

